SOURCE_DIRECTORY_PATH=/apps/home/dsauser/deploy/selfservice/splunk-logs-new
LAST_MODIFIED_TIMESTAMP_FILE=/user/deuser/deploy/splunk-archival/splunk-archival-prod/script/lastmodifiedtimestamp.txt
DESTINATION_HDFS_PATH=/user/hive/warehouse/detoolkit.db/toolkit_monitor
MAIL_TO_PEOPLE=prinaror@adobe.com,sachinja@adobe.com,sarabsin@adobe.com,amchoudh@adobe.com
MAIL_SUBJECT="[PROD] Splunk Data Archival Got Failed"
